
<script type="text/css">
//var
$sans: "Open Sans", sans-serif;
$gray: #FAFAFA;
$darkest-blue: #223344;
$text-color: #595959;
$teal: #30ADA5;

//general
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $darkest-blue;
  display: flex;
  justify-content: center;
}

//container
.email-container{
  & {
    width: 600px;
    margin: 80px 0;
    border-radius: 2px;
    background-color: white;
  }
}

//pre-header
.email-preheader {
  & {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  & > img {
    width: auto;
    height: 20px;
  }
}

//header
.email-header{
  & {
    position: relative;
    height: 230px;
  }
  &:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: transparentize(#223344, 0.35);
    top: 0;
    left: 0;
  }
  & > img {
    width: 100%;
    height: 100%;
  }
  & > .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
  }
  > .content > .title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 16px;
  }
  > .content > .text {
    font-size: 13px;
    margin: 0;
  }
  > .content > .button {
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid transparentize(white,0.8);
    padding: 8px 24px;
    margin-top: 16px;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: bold; 
    color: white;
  }
  > .content >.button:hover,
  > .content >.button:focus {
    text-decoration: none;
    color: $teal;
  }
}

//content
.email-body {
  & {
    display: flex;
    justify-content: center;
    align-content: center;
    background: #fff;
  }
  &.-top {
    padding: 30px 15px 0px 15px;
  }
  &.-middle {
    padding: 0px 15px;
  }
  &.-bottom {
    padding: 0px 15px 30px 15px;
  }
}

.email-card {
    position: relative;
  
  > img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    margin: 10px auto;
  }
  > a {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%,-50%);
    padding: 16px;
    background: transparentize(#234, 0.3);
    color: white;
    
  }
  > a > .title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 4px;
  }
  > a > .text {
    font-size: 13px;
    margin: 0;
    text-transform: capitalize;
  }
}

//footer
.email-footer {
  & {
    background: $gray;
    padding: 20px;
    color: #4F5E66;
    font-size: 13px;
    font-weight: 400;
  }
  
  >.link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  & > .link > .title {
    margin-bottom: 10px;
    color: #4F5E66;
  }
  
  & > .link > .title:hover,
  & > .link > .title:focus {
    color: $darkest-blue;
    text-decoration: none;
  }
  & > .link > .title:nth-child(n+2),
  & > .address > .name:nth-child(n+2) {
    margin-left: 10px;
    border-left: 1px solid #DCE7EA;
    padding-left: 10px;
  }
  
  & >.email {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  & > .copywrite {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
}
	
</script>
<div class='email-container'>
  <div class='email-preheader'>
    <a href="https://imgur.com/XbSy3ux"><img src="https://i.imgur.com/XbSy3ux.png" title="source: imgur.com" /></a>
  </div>
  <div class='email-header'>
    <div class='content'>
      <h4 class='title'>
        <p>Hello <%= @user.first_name %>!</p>
      </h4>
      <p class='text'>
        Welcome to GoTrack! <br><br>
        Now you can track your vehicles in real time – 24/7.  You can monitor live vehicle movement on the Overview page, see minute by minute bread crumb trail on Detailed Activity page and download numerous reports to keep for your records.
      </p>
      <p class='text'>
        <p>Here is a link to begin using GoTrack Services:<br>
        	<%= link_to 'Confirm your email on GoTrack', confirmation_url(@resource, confirmation_token: @token) %></p>
      </p>
      <p class='text'>
        <p>
          Your login will be activated after your email confirmation and you will be able to login using the sign in details provided to you.
        </p>
      </p>
    </div>
  </div>
  <div class='email-footer'>
    <div class='copywrite'>
      <p class='text'></p>
      <p>
        Thanks<br>
        The GoTrack Team
      </p>
      <p>© 2020 GoTrack. All Rights Reserved.</p>
    </div>
  </div>
</div>


